<section id="educacion">
    <div class="container pt-5">
     <section class="row g-0">
       <article class="col-12 text-center">
         <h1>Educación & Certificaciones</h1>
         <p class="fs-5">
         Educación Formal y Certificaciones
         </p>
       </article>

       <article class="col-12">

         <div class="card text-bg-dark border-0 rounded-0">

           <img src="../../../assets/img/8-programacion.png" 
                class="card-img"  
                alt="argentina-programa">

           <div class="card-img-overlay bg-second-alpha-color d-flex flex-column justify-content-md-center">
             <h4 class="card-title">Certificación</h4>
             <p class="fs-5">Developer Full Stack</p>
             <p class="card-text">
               <small>Año 2023</small>
               <br>
               <a class="text-success" href="#" data-bs-toggle="modal" data-bs-target="#certificacion-1">Ver Certificación</a>
             </p >

             <p class="card-text">
               <blockquote class="d-none d-md-block">
                 <b>Argentina Programa 4.0</b> es un Plan nacional, federal e inclusivo impulsado por el Ministerio de
                 Economía de la Nación con el objetivo de brindar capacitaciones en las temáticas de
                 programación, testing y habilidades digitales</blockquote> 
           </div>
         </div>
       <!------------->  
       <!-- Modal -->
       <div class="modal fade" id="certificacion-1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
         <div class="modal-dialog">
          <div class="modal-content">
           <div class="modal-header">
             <h1 class="modal-title fs-5" id="exampleModalLabel">Certificación</h1>
             <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
           </div>
           <div class="modal-body">
             <p>
         Developer Full Stack
             </p>
             <img src="img/argentinaprograma.png" alt="argentinaprograma" class="img-fluid">
           </div>
         <div class="modal-footer">
           <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
           <button type="button" class="btn btn-primary">Save changes</button>
         </div>
         </div>
      </div>
  </div>
       </article>


       <article class="col-12 col-sm-6 col-lg-4">
         <div class="card text-bg-dark border-0 rounded-0">
           <img src="../../../assets/img/9-inglestecnico.jpg" 
                class="card-img"  
                alt="inglestecnico">
           <div class="card-img-overlay bg-second-alpha-color d-flex flex-column justify-content-md-center">
             <h4 class="card-title">Certificación</h4>
             <p class="fs-5">Inglés Técnico</p>
             <p class="card-text">
               <small>Año 2023 </small>
               <br>
               <a class="text-success" href="#" data-bs-toggle="modal" data-bs-target="#certificacion-2">Ver Certificación</a>
             </p >
             <p class="card-text">
               <blockquote class="d-none d-md-block">
              <b>Centro Universitario de Idiomas</b> en convenio con el proyecto "Argentina Programa 4.0"</blockquote>
           </div>
         </div>
                 <!-- Modal -->
         <div class="modal fade" id="certificacion-2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
               <div class="modal-dialog">
                 <div class="modal-content">
                   <div class="modal-header">
                     <h1 class="modal-title fs-5" id="exampleModalLabel">Certificación</h1>
                     <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                   </div>
                   <div class="modal-body">
                     <p>
                       Inglés Técnico
                     </p>
                     <img src="img/inglestecnico.png" alt="musica-1" class="img-fluid">
                   </div>
                   <div class="modal-footer">
                     <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                     <button type="button" class="btn btn-primary">Save changes</button>
                   </div>
                 </div>
               </div>
             </div>

       </article>


       <article class="col-12 col-sm-6 col-lg-4">
         <div class="card text-bg-dark border-0 rounded-0">
           <img src="../../../assets/img/10-seprogramar.jpg" 
                class="card-img"  
                alt="seprogramar">
           <div class="card-img-overlay bg-second-alpha-color d-flex flex-column justify-content-md-center">
             <h4 class="card-title">Certificación</h4>
             <p class="fs-5">Sé Programar</p>
             <p class="card-text">
               <small>Año 2022</small>
               <br>
               <a class="text-success" href="#" data-bs-toggle="modal" data-bs-target="#certificacion-3">Ver Certificación</a>
             </p >
             <p class="card-text">
               <blockquote class="d-none d-md-block">
              Primera parte del proyecto "Argentina Programa 4.0"</blockquote>
           </div>
         </div>
                 <!-- Modal -->
         <div class="modal fade" id="certificacion-3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
               <div class="modal-dialog">
                 <div class="modal-content">
                   <div class="modal-header">
                     <h1 class="modal-title fs-5" id="exampleModalLabel">Certificación</h1>
                     <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                   </div>
                   <div class="modal-body">
                     <p>
                       Sé Programar
                     </p>
                     <img src="img/argentinaprograma.png" alt="se-programar" class="img-fluid">
                   </div>
                   <div class="modal-footer">
                     <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                     <button type="button" class="btn btn-primary">Save changes</button>
                   </div>
                 </div>
               </div>
             </div>

       </article>

       <article class="col-12 col-sm-6 col-lg-4">
         <div class="card text-bg-dark border-0 rounded-0">
           <img src="../../../assets/img/11-googlebussines.jpg" 
                class="card-img"  
                alt="goooglebussines">
           <div class="card-img-overlay bg-second-alpha-color d-flex flex-column justify-content-md-center">
             <h4 class="card-title">Certificación</h4>
             <p class="fs-5">Google Bussines</p>
             <p class="card-text">
               <small>Año 2021</small>
               <br>
               <a class="text-success" href="#" data-bs-toggle="modal" data-bs-target="#certificacion-5">Ver Certificación</a>
             </p >
             <p class="card-text">
               <blockquote class="d-none d-md-block">
             Google Bussines-Técnicas de Ventas dictadas por el Lic. Gustavo Machado.</blockquote>

                       </div>
         </div>
                 <!-- Modal -->
         <div class="modal fade" id="certificacion-5" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
               <div class="modal-dialog">
                 <div class="modal-content">
                   <div class="modal-header">
                     <h1 class="modal-title fs-5" id="exampleModalLabel">Certificación</h1>
                     <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                   </div>
                   <div class="modal-body">
                     <p>
                       Google Bussines-Técnicas de Ventas
                     </p>
                     <img src="img/certificadobussines.jpg" alt="googlebussines" class="img-fluid">
                   </div>
                   <div class="modal-footer">
                     <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                     <button type="button" class="btn btn-primary">Save changes</button>
                   </div>
                 </div>
               </div>
             </div>

       </article>


       <article class="col-12 col-sm-6 col-lg-4">
         <div class="card text-bg-dark border-0 rounded-0">
           <img src="../../../assets/img/12-marketingdigital.jpg" 
                class="card-img"  
                alt="marketingdigital">
           <div class="card-img-overlay bg-second-alpha-color d-flex flex-column justify-content-md-center">
             <h4 class="card-title">Certificación</h4>
             <p class="fs-5">Márketing Digital</p>
             <p class="card-text">
               <small>Año 2020</small>
               <br>
               <a class="text-success" href="#" data-bs-toggle="modal" data-bs-target="#certificacion-4">Ver Certificación</a>
             </p >
             <p class="card-text">
               <blockquote class="d-none d-md-block">
              Márketing Digital para Autores y Compositores dictado por <b>SADAIC</b></blockquote>
           </div>
         </div>
                 <!-- Modal -->
         <div class="modal fade" id="certificacion-4" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
               <div class="modal-dialog">
                 <div class="modal-content">
                   <div class="modal-header">
                     <h1 class="modal-title fs-5" id="exampleModalLabel">Certificación</h1>
                     <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                   </div>
                   <div class="modal-body">
                     <p>
                       Márketing Digital para Autores y Compositores
                     </p>
                     <img src="img/SADAIC.jpg" alt="marketing-digital" class="img-fluid">
                   </div>
                   <div class="modal-footer">
                     <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                     <button type="button" class="btn btn-primary">Save changes</button>
                   </div>
                 </div>
               </div>
             </div>

       </article>
     

       <article class="col-12 col-sm-6 col-lg-4">
         <div class="card text-bg-dark border-0 rounded-0">
           <img src="../../../assets/img/13-contable.jpg" 
                class="card-img"  
                alt="contabilidad">
           <div class="card-img-overlay bg-second-alpha-color d-flex flex-column justify-content-md-center">
             <h4 class="card-title">Certificación</h4>
             <p class="fs-5">Curso de Responsabilidad del Contador frente al Lavado de Activos</p>
             <p class="card-text">
               <small>Año 2017</small>
               <br>
               <a class="text-success" href="#" data-bs-toggle="modal" data-bs-target="#certificacion-6">Ver Certificación</a>
             </p >
             <p class="card-text">
               <blockquote class="d-none d-md-block">
                 Consejo Profesional de Ciencias Económicas de Salta. 
                 Prov. Salta
               </blockquote>
                       </div>
         </div>
                 <!-- Modal -->
         <div class="modal fade" id="certificacion-6" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
               <div class="modal-dialog">
                 <div class="modal-content">
                   <div class="modal-header">
                     <h1 class="modal-title fs-5" id="exampleModalLabel">Certificación</h1>
                     <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                   </div>
                   <div class="modal-body">
                     <p>
                       Curso de Responsabilidad del Contador frente al Lavado de Activos
                     </p>
                     <img src="img/SADAIC.jpg" alt="marketing-digital" class="img-fluid">
                   </div>
                   <div class="modal-footer">
                     <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                     <button type="button" class="btn btn-primary">Save changes</button>
                   </div>
                 </div>
               </div>
             </div>

       </article>


       <article class="col-12 col-sm-6 col-lg-4">
         <div class="card text-bg-dark border-0 rounded-0">
           <img src="../../../assets/img/13-contable.jpg" 
                class="card-img"  
                alt="contabilidad">
           <div class="card-img-overlay bg-second-alpha-color d-flex flex-column justify-content-md-center">
             <h4 class="card-title">Certificación</h4>
             <p class="fs-5">Curso de Liquidación Impositiva</p>
             <p class="card-text">
               <small>Año 2014</small>
               <br>
               <a class="text-success" href="#" data-bs-toggle="modal" data-bs-target="#certificacion-7">Ver Certificación</a>
             </p >
             <p class="card-text">
               <blockquote class="d-none d-md-block">
                 Curso de Liquidación Impositiva de personas físicas y sucesiones indivisas. 
                 Nivel básico. Consejo Profesional de Ciencias Económicas de Salta.
               </blockquote>

           </div>
         </div>
                 <!-- Modal -->
         <div class="modal fade" id="certificacion-7" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
               <div class="modal-dialog">
                 <div class="modal-content">
                   <div class="modal-header">
                     <h1 class="modal-title fs-5" id="exampleModalLabel">Certificación</h1>
                     <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                   </div>
                   <div class="modal-body">
                     <p>
                       Curso de Liquidación Impositiva
                     </p>
                     <img src="img/SADAIC.jpg" alt="marketing-digital" class="img-fluid">
                   </div>
                   <div class="modal-footer">
                     <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                     <button type="button" class="btn btn-primary">Save changes</button>
                   </div>
                 </div>
               </div>
             </div>

       </article>


       <article class="col-12">
         <div class="card text-bg-dark border-0 rounded-0">
           <img src="../../../assets/img/8-programacion.png" 
                class="card-img"  
                alt="argentina-programa">
           <div class="card-img-overlay bg-second-alpha-color d-flex flex-column justify-content-md-center">
             <h4 class="card-title">Formación Académica</h4>
             <p class="fs-5">Contado Público Nacional</p>
             <p class="card-text">
               <small>Año 2013</small>
               <br>
               <a class="text-success" href="#" data-bs-toggle="modal" data-bs-target="#certificacion-8">Ver Curricula</a>
             </p >
             <p class="card-text">
               <blockquote class="d-none d-md-block">
                 <b>Universidad Nacional de Salta.</b> Porcentaje de la carrera concluido 94,44%</blockquote>
           </div>
         </div>
       <!------------->  
       <!-- Modal -->
       <div class="modal fade" id="certificacion-8" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
         <div class="modal-dialog">
          <div class="modal-content">
           <div class="modal-header">
             <h1 class="modal-title fs-5" id="exampleModalLabel">Formación Académica</h1>
             <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
           </div>
           <div class="modal-body">
             <p>
         Contador Público Nacional
             </p>
             <img src="img/curricula.bmp" alt="curricula" class="img-fluid">
           </div>
         <div class="modal-footer">
           <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
           <button type="button" class="btn btn-primary">Save changes</button>
         </div>
         </div>
      </div>
      </div>
       </article>
     </section>
    </div>
   </section>
