<section id="about" 
         class="min-vh-100 bg-hero-image" 
         style="--bg-image: url(../../../assets/img/7-fullstack.jpg)">

    <article class="bg-alpha-color min-vh-100 d-flex align-items-center">
      <div class="container">       
        <article class="col-12 col-lg-6 mt-5">             
          <h2>Sobre Mí</h2>
          <p class="my-5 fs-4">
            Soy una persona <b>comprometida</b><br> con el trabajo y la mejora continua, 
            mi productividad tiene que verse reflejada en la organización.  
            Me gusta trabajar en completo silencio. <b>La creatividad</b> es algo fundamental.
          </p>
          <p class="fs-4 fw-bold ">
            Algunas Cualidades:
          </p>

      <div class="row mt-5">
        <div class="col fs-5">
        <p><i class="bi bi-check-lg"></i>Compromiso</p>
        <p><i class="bi bi-check-lg"></i>Proactividad</p>
        <p><i class="bi bi-check-lg"></i>Sociabilidad</p>
      </div>

      <div class="col fs-5">
        <p><i class="bi bi-check-lg"></i>Autodidacta</p>
        <p><i class="bi bi-check-lg"></i>Flexibilidad</p>
        <p><i class="bi bi-check-lg"></i>Creatividad</p>
      </div>
      </div>
      </article>
      </div>
    </article>
</section>

