<nav class="navbar sticky-top navbar-expand-lg bg-body-tertiary navbar-dark bg-dark ">
    <div class="container">
      <a class="navbar-brand" routerLink="/" fragment="carouselExampleCaptions">
       <img src="../../../assets/img/2-logoargprog.png" alt="logoargentinaprograma">
      </a>

      <button class="navbar-toggler border-0" 
              type="button" 
              data-bs-toggle="collapse" 
              data-bs-target="#navbarNavDropdown" 
              aria-controls="navbarNavDropdown" 
              aria-expanded="false" 
              aria-label="Toggle navigation"
              >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" 
           id="navbarNavDropdown">
        <ul class="navbar-nav ms-lg-auto">

          <li class="nav-item dropdown content-fluid">
            <a class="nav-link dropdown-toggle fs-4" 
               href="#" 
               role="button" 
               data-bs-toggle="dropdown" 
               aria-expanded="false">
              Portafolio
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="/" fragment="about">Sobre Mí</a></li>
              <li><a class="dropdown-item" routerLink="/" fragment="educacion">Educación</a></li>
              <li><a class="dropdown-item" routerLink="/" fragment="experiencia">Experiencia</a></li>
              <li><a class="dropdown-item" routerLink="/" fragment="skills"><i>Hard & Soft Skills</i></a></li>
              <li><a class="dropdown-item" routerLink="/" fragment="proyectos">Proyectos</a></li>
            </ul>
          </li>

          <li class="nav-item d-none d-lg-block">
            <a class="nav-link" href="https://github.com/LoreGCF/LoreGCF.git" target="_blank"><i class="bi bi-github fs-3"></i></a>
          </li>


          <li class="nav-item d-none d-lg-block">
            <a class="nav-link" href="https://linkedin.com" target="_blank"><i class="bi bi-linkedin fs-3"></i></a>
          </li>

          <li class="nav-item d-none d-lg-block">
            <a class="nav-link" href="https://www.facebook.com/profile.php?viewas=100000686899395&id=100009782955889" target="_blank"><i class="bi bi-facebook fs-3"></i></a>
          </li>

          <li class="nav-item d-none d-lg-block">
            <a class="nav-link" href="/login"  ><i class="bi bi-person-fill-lock fs-2"></i></a>
          </li>
          
        </ul>
      </div>
    </div>
  </nav>


  