<div class="container mt-3">
<section id="experiencia" class="row align-items-lg-center min-vh-100 pt-5 mb-5">
  <h3 class="text-dark fs-2 text-center mb-5"><b>Experencia Laboral</b></h3>


  <article class="col-12 col-md-6 col-xl-3 d-flex">
    <div class="card mx-auto mb-3" style="width: 18rem;">
      <img src="../../../assets/img/14-contabilidad.jpg" class="card-img-top" alt="Rendicion de cuentas">
      <div class="card-body">
        <h5 class="card-title">Rendición de Cuentas</h5>
        <p class="card-text">Gob. Prov. Salta</p>
        <p>Año 2016-2018</p>
        <p>Encargada del Sub Prog. de Rendición de Cts.</p>
        
        <a href="sitios.html" class="text-color" data-bs-toggle="modal" data-bs-target="#trabajo-1">
          Ver Más
          <i class="bi bi-chevron-compact-right"></i>
        </a>
      </div>
    </div>


    <div class="modal fade" id="trabajo-1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
       <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel"></h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>
      Rendición de Cuentas 
          </p>
          <img src="img/argentinaprograma.png" alt="argentinaprograma" class="img-fluid">
        </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
      </div>
   </div>
</div>

  </article>




  <article class="col-12 col-md-6 col-xl-3 d-flex">
    <div class="card mx-auto mb-3" style="width: 18rem;">
      <img src="../../../assets/img/14-contabilidad.jpg" class="card-img-top" alt="Practicas Laborales">
      <div class="card-body">
        <h5 class="card-title">Prácticas Laborales No Remunerativas</h5>
        <p class="card-text">Estudio Campastro</p>
        <p>Año 2015</p>
        <p>Carga de Datos</p>
        <a href="sitios.html" class="text-color" data-bs-toggle="modal" data-bs-target="#trabajo-2">
          Ver más
          <i class="bi bi-chevron-compact-right"></i>
        </a>
      </div>
    </div>

    <div class="modal fade" id="trabajo-2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
       <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel"></h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>
      Rendición de Cuentas 
          </p>
          <img src="img/argentinaprograma.png" alt="argentinaprograma" class="img-fluid">
        </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
      </div>
   </div>
</div>
  </article>




  <article class="col-12 col-md-6 col-xl-3 d-flex">
    <div class="card mx-auto mb-3" style="width: 18rem;">
      <img src="../../../assets/img/14-contabilidad.jpg" class="card-img-top" alt="Prestador independiente">
      <div class="card-body">
        <h5 class="card-title">Prestador de Servicio independiente</h5>
        <p class="card-text">Municipalidad de Salta</p>
        <p>Año 2013-2014</p>
        <p>Tareas administrativas</p>
        
        <a href="sitios.html" class="text-color" data-bs-toggle="modal" data-bs-target="#trabajo-3">
          Ver más
          <i class="bi bi-chevron-compact-right"></i>
        </a>
      </div>
    </div>



    <div class="modal fade" id="trabajo-3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
       <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel"></h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>
      Rendición de Cuentas 
          </p>
          <img src="img/argentinaprograma.png" alt="argentinaprograma" class="img-fluid">
        </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
      </div>
   </div>
</div>
  </article>



  <article class="col-12 col-md-6 col-xl-3 d-flex">
    <div class="card mx-auto mb-3" style="width: 18rem;">
      <img src="../../../assets/img/14-contabilidad.jpg" class="card-img-top" alt="Atencion al publico">
      <div class="card-body">
        <h5 class="card-title">Atención al público</h5>
        <p>Juguetería, bazar y regalería Beba Novedades</p>
        <p class="card-text">Año 2007-2015</p>
        <p>Atención púb. fin-semana</p>
        
        <a href="sitios.html" class="text-color" data-bs-toggle="modal" data-bs-target="#trabajo-4">
          Ver más
          <i class="bi bi-chevron-compact-right"></i>
        </a>
      </div>
    </div>

    <div class="modal fade" id="trabajo-4" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
       <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel"></h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>
      Rendición de Cuentas 
          </p>
          <img src="img/argentinaprograma.png" alt="argentinaprograma" class="img-fluid">
        </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
      </div>
   </div>
</div>


  </article>
</section>
</div>