<section class="div py-3" id="skills">
    <div class="container  text-center ">
     <article class="text-center">
       <h1>Hard & Soft Skills</h1>
       <p class="fs-4">Pequeñas y constantes mejoras acumulan grandes beneficios a largo plazo, Filosofía "Kaizen".
        </p>
       <p class="fs-3">
         <b>"Una vez que te comprometes, encuentras la manera de lograrlo..."</b>
       </p>
     </article>


     <section class="row align-items-lg-center my-5">
       <article class="col-12 col-lg-6 text-lg-end">
         <h2>Habilidad</h2>
         <h3>Idioma Inglés</h3>
         <p>Dominio técnico del idioma. Trabajando actualmente en manejo fluido del mismo.</p>
       </article>
       <article class="col-12 col-lg-6 ">
          <circle-progress
            [percent]="25"
            [radius]="100"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="30"
            [outerStrokeColor]="'#c0005a'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="600"
          ></circle-progress>
       </article>
     </section>


     <section class="row align-items-lg-center my-5">
       <article class="col-12 col-lg-6 order-lg-1">
         <h2>Habilidad</h2>
         <h3>HTML</h3>
         <p>Lenguaje de Marcado Hiper texto</p>
       </article>
       <article class="col-12 col-lg-6">
        <circle-progress
        [percent]="75"
        [radius]="100"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="30"
        [outerStrokeColor]="'#c0005a'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="600"
      ></circle-progress>
       </article>
     </section>

     <section class="row align-items-lg-center my-5">
       <article class="col-12 col-lg-6  text-lg-end">
         <h2>Habilidad</h2>
         <h3>CSS</h3>
         <p>Hojas de Estilo en Cascada</p>
       </article>
       <article class="col-12 col-lg-6 ">
        <circle-progress
        [percent]="50"
        [radius]="100"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="30"
        [outerStrokeColor]="'#c0005a'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="600"
      ></circle-progress>
       </article>
     </section>

     <section class="row align-items-lg-center my-5">
       <article class="col-12 col-lg-6 order-lg-1">
         <h2>Habilidad</h2>
         <h3>Java</h3>
         <p>Lenguaje de programación</p>
       </article>
       <article class="col-12 col-lg-6">
        <circle-progress
        [percent]="50"
        [radius]="100"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="30"
        [outerStrokeColor]="'#c0005a'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="600"
      ></circle-progress>
       </article>
     </section>

     <section class="row align-items-lg-center my-5">
       <article class="col-12 col-lg-6  text-lg-end">
         <h2>Habilidad</h2>
         <h3>GitHub</h3>
         <p></p>
       </article>
       <article class="col-12 col-lg-6 ">
        <circle-progress
        [percent]="60"
        [radius]="100"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="30"
        [outerStrokeColor]="'#c0005a'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="600"
      ></circle-progress>
       </article>
     </section>

     <section class="row align-items-lg-center my-5">
       <article class="col-12 col-lg-6 order-lg-1">
         <h2>Habilidad</h2>
         <h3>Responsabilidad</h3>
         <p></p>
       </article>
       <article class="col-12 col-lg-6">
        <circle-progress
        [percent]="100"
        [radius]="100"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="30"
        [outerStrokeColor]="'#c0005a'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="600"
      ></circle-progress>
       </article>
     </section>

     <section class="row align-items-lg-center my-5">
       <article class="col-12 col-lg-6  text-lg-end">
         <h2>Habilidad</h2>
         <h3>Compromiso</h3>
         <p></p>
       </article>
       <article class="col-12 col-lg-6 ">
        <circle-progress
        [percent]="100"
        [radius]="100"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="30"
        [outerStrokeColor]="'#c0005a'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="600"
      ></circle-progress>
       </article>
     </section>
   </div>
 </section>
